:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}
body {
    max-width: 1680px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}
#three-canvas-container {
    height: 100vh !important;
}
